{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}

{% endblock extra_head %}
{% block content %}
<div class="titlecard-wrapper">
    <div id="top" style="top:0px;position:absolute;" class="waypoint" data-down-waypoint="0,38" data-up-waypoint="0,38"></div>
    <div id="title-text" class="animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="credit">
                        <li>
                            <img src="img/thinkcerca-logo.svg" class="npr-logo" alt="thinkcerca-logo"></li>
                    </ul>
                    <h1>Creating Happy, Noisy Classrooms</h1>
                    <h2>How to make a difference and boost student engagement.</h2>

                    <div class="begin-bar">
                        <p><strong>Begin</strong></p>
                        <div class="headphone-prompt"><h6><i class="fa fa-headphones"></i> Put on your headphones</h6></div><!--headphone prompt -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#title-text -->
    <div class="titlecard-mask animated fadeOut"></div>
    <div class="titlecard-first animated"></div>
    <div class="titlecard"></div>

</div><!-- /titlecard-wrapper -->

<ul class="toggle-ambi ambi-mute">
    <li class="ambient-on"><i class="fa fa-volume-up"></i></li>
    <li class="ambient-off"><i class="fa fa-volume-off"></i></li>
</ul><!--/toggle-ambi-->

<div class="controls">
    <ul class="section-nav nav">
        <li class="top-nav active">
            <a href="#top"><strong>Home</strong> <i class="fa fa-home"></i></a>
        </li>
        <li class="intro-nav">
            <a href="#intro"><strong>Introduction</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="connections-nav">
            <a href="#connections"><strong>1. Connecting with Students</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="watchers-nav">
            <a href="#watchers"><strong>2. Personalized Feedback</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="hunters-nav">
            <a href="#hunters"><strong>3. Peer-to-Peer Discussion</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="science-nav">
            <a href="#science"><strong>4. Cross-Curricular Collaboration</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="compromisers-nav">
            <a href="#compromisers"><strong>5. Students Taking Ownership over their Learning</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="tricks-nav">
            <a href="#tricks"><strong>6. Appreciation for Diversity of Perspectives</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="inquiry-nav">
            <a href="#inquiry"><strong>7. Inquiry-Based Learning</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="connecting-nav">
            <a href="#connecting"><strong>Concluding Thoughts</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="listen-nav">
            <a href="#audio-story"><strong>Credits</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="share">
            <strong>Share</strong> <i class="fa fa-share"></i>
        </li>
    </ul>
</div>



<section id="content">
<div id="intro" class="waypoint chapter">
    <div class="edge-to-edge">
         <img id="intro06x" src="img/transparent_1500.png" data-src="img/ny-student-2.jpg" alt="Creating Delightful Learning Environments" class="img-responsive waypoint">
         <h2 id="intro-advance">Joyful Learning Environments<i class="fa fa-angle-down more-below animated"></i></h2>
    </div><!--/edge-to-edge-->
    <div id="intro-copy" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>We spend so much time discussing how to create an effective or efficient classroom that we often overlook the foundation for all productive teaching and learning: <em>joy</em>.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                        <div class="enlarge">
                            <img id="intro02x" src="img/transparent_1500.png" data-src="img/joyful-classroom-ga-teacher.jpg" alt="Sed sed tellus sed massa vulputate dapibus." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Classrooms that nurture curiosity, discovery, and the open exchange of ideas are engaging. They provide a solid foundation for students to hone the skills essential to 21st-century success:</p>
                    <ul>
                        <li>Critical Thinking</li>
                        <li>Communication</li>
                        <li>Collaboration</li>
                        <li>Problem Solving</li>
                    </ul>
                    <p>In these talkative classrooms, students are motivated by peers who are well-qualified to engage each other and develop the intellectual values to appreciate others’ points of view. Gone are the days of rote memorization and hours spent quiet and stuck to a single, isolated desk or computer.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers01x" src="img/placeholder.jpg" data-src="img/il-class-2.jpg" class="img-responsive waypoint" alt="Donec interdum viverra risus sed venenatis. Nulla id metus mollis, varius neque quis, eleifend felis. Mauris posuere justo vulputate mi facilisis, eget tincidunt erat consequat">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6></h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>A happy, noisy classroom takes the best parts of childhood – the silliness, the spark, the itch to communicate and question – and uses them to the advantage and benefit of learning. Regardless of whether you teach STEM or ELA, 3rd grade or 12th, the elements of a boisterous learning environment can take root and flourish in your classroom.</p>
                    <h4>These are the research-based practices that create <strong>happy, noisy classrooms:</strong></h4>
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/intro-->

<div id="connections" class="waypoint chapter" data-down-waypoint="132,157" data-up-waypoint="101,127">
    <div class="edge-to-edge captioned">
            <img id="compromise01x" class="waypoint" src="img/transparent_1500.png" data-src="img/ny-teacher-4.jpg" alt="Connecting with Students">
        <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>1. Connecting with students</h2>
    </div><!--/edge-to-edge -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Every person leads a complex life – students and teachers alike. Everyone has unique interests, ideas, experiences, perspectives, and needs.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise08x" src="img/transparent_1500.png" data-src="img/joyful-classroom-il-class.jpg" alt="Vivamus cursus dui nec efficitur auctor. Quisque sagittis bibendum sagittis." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                   <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>In a packed school day with many students and dwindling minutes, it’s even more important to build deeper connections with students by learning what drives, worries, and excites each and every one of them.</p>
                <p>When you know each student’s interests and needs, you’re able to personalize instruction for them – and get them to the next level. You’re able to accomodate for gaps or bring in more rigorous and relevant materials. By deepening these connections with students, you establish a mutual respect and set the foundation for more inquiry and feedback later on.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise02x" src="img/transparent_1500.png" data-src="img/joyful-classroom-ny-teacher.jpg" alt=". Nunc ac ornare ipsum. Donec luctus, tellus consequat dapibus dictum, est metus bibendum libero, quis laoreet nibh arcu a diam." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>
    </div><!--/container-->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                    <h5>At the start of each year, make sure that you:</h5>
                    <ul>
                        <li><strong>Can accurately pronounce all students’ names.</strong></li>
                        <li><strong>Are familiar with every student's <a href="http://blog.thinkcerca.com/13-narrative-writing-prompts-about-family" target="_blank">home and family life</a>.</strong></li>
                            <ul>
                                <li>Are they an only child?</li>
                                <li>Do they have siblings?</li>
                                <li>Do they speak a second language at home?</li> 
                                <li>How do they get to and from school?</li>
                            </ul>
                        <li><strong>Know what interests each student.</strong></li>
                            <ul>
                                <li>What are their unique skills?</li>
                                <li>Are they passionate about video games? Sports? Books? History or math?</li>
                                <li>Which outlets spark their interest?</li>
                            </ul>
                        <li><strong>Understand what each student needs.</strong></li>
                            <ul>
                                <li>Is it helpful to have a moment of calm music and personal reflection before diving into coursework?</li>
                                <li>Does the student thrive with teacher or peer guidance?</li>
                                <li>How can their interests help facilitate the building of skills?</li>
                            </ul>
                    </ul>
                    <p>Read more >> Narrative prompts about family</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--compromisers-->

<div id="watchers" class="waypoint chapter" data-down-waypoint="40,58" data-up-waypoint="0,38">
    <div class="edge-to-edge captioned">

            <img id="watchers09x" src="img/transparent_1500.png" data-src="img/ny-teacher-7.jpg" alt="Personalized Feedback from a Caring Teacher" class="waypoint">

        <div class="caption-text">
            <h6></h6>
        </div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>2. Personalized Feedback</h2>
    </div><!--/edge-to-edge-->

    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p>As a teacher, you understand the importance of helping students recognize their errors. With the abundance of scantrons, apps, and automated scoring assessments, identifying errors can be efficient. Providing personalized feedback to correct them? Not as much.</p>

                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers03x" class="img-responsive waypoint" src="img/placeholder.jpg" data-src="img/ga-teacher-2.jpg" alt="Aenean finibus felis lacus, nec pretium odio dapibus in. Mauris velit lacus, rutrum ac molestie id, pharetra eget quam.">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6></h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>It’s a timely endeavor, but it’s worth the effort to provide each student with personalized, direct, and specific feedback. A <a href="https://research.acer.edu.au/cgi/viewcontent.cgi?article=1003&context=research_conference_2003" target="_blank">review of research</a> by John Hattie found that among a sample of possible classroom influences, feedback from a teacher has the greatest effect on student achievement.</p>
                    <p>Hattie writes that teachers who “provide much more relevant, useful feedback” to their students are “better able to filter relevant from irrelevant information, and are able to monitor, understand, and interpret events in more detail… As a consequence they seek and provide more and better feedback in light of this monitoring” (pages 7-8).</p>
                </div><!--/col-->
            </div><!--/row-->
             <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers08x" src="img/transparent_1500.png" data-src="img/joyful-classroom-ny-teacher-2.jpg" alt="wolf-titlecard" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6></h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 class="tip"><strong>What You Can Do</strong></h4>
                    <ul>
                        <li><strong>Make sure that the feedback you provide is:</strong></li>
                        <ul>
                            <li>Personal</li>
                            <li>Relevant</li>
                            <li>Clear</li>
                            <li>Actionable</li>
                        </ul>
                        <li>Let students know that failure is okay – we all get things wrong sometimes. When students feel more comfortable sharing their thoughts, you’ll better understand where they’re at, and you’ll be able to provide more relevant feedback.</li>
                        <li>Iterate on your practice! Feedback goes both ways – don’t just provide feedback, solicit it from your students as well. You’ll get insights into how you can alter your teaching to be more effective.</li>
                        <li>Test out new solutions or strategies for helping students understand a topic. Feedback doesn’t always have to be a one-on-one discussion – it can be a new method of instruction, too.</li>
                    </ul>
                    <p>CTA: Sign up for E+E Newsletter</p>
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/wolf watchers-->



<div id="hunters" class="waypoint chapter" data-down-waypoint="61,97" data-up-waypoint="40,58">
    <div class="edge-to-edge captioned">
            <img id="hunters01x" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-ga-students-2.jpg" alt="Peer-to-Peer Discussion">
    <div class="caption-text"><h6></h6></div>
    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
    <h2>3. Peer-to-Peer Discussion</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Happy classrooms are noisy classrooms. They are classrooms in which students engage with peers to develop their ideas.</p>
                <p>When we consider the skills our students need to achieve success in the 21st-century world, <strong>communication</strong>, <strong>collaboration</strong>, and <strong>critical thinking</strong> are chief among them. These are skills which cannot be honed within a silo.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
    <div class="container">

        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                             <img id="hunters05x" src="img/transparent_1500.png" data-src="img/ny-students-3.jpg" alt="Vestibulum vel turpis turpis. In vestibulum mollis velit. Sed ligula lacus, fermentum at facilisis ac, sollicitudin non quam." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>By discussing and debating concepts with peers, students encounter and engage with different perspectives. They also learn how to advocate for their ideas, and are often motivated by their peers to do well too.</p>
                <p>Research shows that in classes without discussion, “students achieved an average gain of only 25% between their pre- and posttest scores.” However, “when lecturers paused and asked students to discuss the concept presented in pairs or small groups (three or four students), students achieved an average gain of 48%” (PROPER CITATION TK).</p>
            </div>
        </div><!--/row-->

        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                             <img id="hunters05x" src="img/transparent_1500.png" data-src="img/il-class-3.jpg" alt="Vestibulum vel turpis turpis. In vestibulum mollis velit. Sed ligula lacus, fermentum at facilisis ac, sollicitudin non quam." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>Through peer discussion, students practice argumentation. They learn how to hold their ideas up to scrutiny and criticism, and they learn from their peers’ varied perspectives. By practicing argumentation, discussion, and debate, students gain a richer understanding of a subject and preparedness for the world awaiting them.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <ul>
                    <li>Use a standard argumentation frameworks to help students develop their own critical understanding of what they’re discussing. In <a href="https://thinkcerca.com/cerca-literacy-framework/" target="_blank">the CERCA framework</a>, for instance, students start with a Claim, support it with Evidence, explain their Reasoning, and address Counterarguments while using Audience-appropriate language.</li>
                </ul>
                <p>CTA: Download Argumentative Writing Poster</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/hunters-->

<div id="science" class="waypoint chapter" data-down-waypoint="101,127" data-up-waypoint="61,97">
    <div class="edge-to-edge captioned">
            <img id="kicker03x" class="waypoint" src="img/transparent_1500.png" data-src="img/ny-teachers-5.jpg" alt="Cross-Curricular Collaboration">
            <h2>4. Cross-Curricular Collaboration</h2>
    </div>

    <div class="section-intro">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 ">
                        <p>We know that cross-curricular collaboration is a highly effective strategy for improving learning—but it’s also a fun one. When students are able to witness the interconnectedness of what they’re learning, their engagement levels soar.</p>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/section-intro-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="science03x" src="img/transparent_1500.png" data-src="img/ny-teachers-6.jpg" alt="Sed varius, ex vitae lacinia ornare, dolor sem volutpat lacus, quis fermentum tortor sapien nec nulla." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>Anecdotally, many teachers know that learning deepens when students study a problem or topic through multiple lenses. On the research side, the benefits of cross-curricular collaboration are clear as well: A landmark <a href="https://consortium.uchicago.edu/sites/default/files/publications/ACTReport08.pdf" target="_blank">University of Chicago</a> study found that writing across subjects five or more times per month compared to less than five times per month had the single greatest impact on student achievement. The data also showed discussion, debate, and collaborative classroom activities practices like peer editing are the keys to success in all subjects. </p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <p>Use Project-Based Learning (PBL) to jump-start a cross-curricular collaboration plan. As part of PBL, students must analyze a problem and research potential solutions from multiple lenses: social and financial to name a few. Meet with your fellow teachers to see if there are any overlaps in topic areas that could work for a PBL unit.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--science-->



<div id="compromisers" class="waypoint chapter" data-down-waypoint="132,157" data-up-waypoint="101,127">
    <div class="edge-to-edge captioned">
            <img id="compromise01x" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-ny-students.jpg" alt="Students Taking Ownership Over Their Learning">
        <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>5. Students Taking Ownership Over Their Learning</h2>
    </div><!--/edge-to-edge -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Duis condimentum tempus justo vel porta. Aenean mattis justo nec massa posuere, sed posuere nibh accumsan. Morbi diam urna, malesuada id scelerisque at, hendrerit gravida lorem. Proin mattis velit in libero posuere suscipit. Proin facilisis consectetur tortor ac vulputate.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise08x" src="img/transparent_1500.png" data-src="img/nm-students-3.jpg" alt="Vivamus cursus dui nec efficitur auctor. Quisque sagittis bibendum sagittis." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                   <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Phasellus congue in augue at imperdiet. Sed ut efficitur ipsum. Suspendisse accumsan vitae mi tincidunt elementum. Curabitur quis tincidunt nibh, porta vehicula arcu. Pellentesque at dui a elit tincidunt malesuada. Vestibulum magna libero, aliquet et dolor vel, tincidunt tempor eros.</p>
                <p>Pellentesque a orci quis purus pretium maximus. Mauris lacus libero, eleifend in ex vel, volutpat ultricies mi. Aenean non lacus sit amet lectus consequat lobortis non sit amet lacus. Cras eleifend placerat est ac vehicula. Curabitur purus odio, faucibus et fermentum id, aliquet vel urna. Vivamus at euismod justo. Nulla eu congue odio.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise02x" src="img/transparent_1500.png" data-src="img/placeholder.jpg" alt=". Nunc ac ornare ipsum. Donec luctus, tellus consequat dapibus dictum, est metus bibendum libero, quis laoreet nibh arcu a diam." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>
    </div><!--/container-->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Fusce ultricies mattis dui at ultrices. Nam porta, erat non fermentum pulvinar, dui enim consectetur dolor, id hendrerit diam justo eget mauris. Morbi eu velit ac metus interdum gravida at in libero. Fusce sem nisi, blandit vitae lectus nec, ultricies sollicitudin dui.</p>
                <p>Curabitur viverra velit at velit pellentesque, cursus mattis ipsum pellentesque. Phasellus eu euismod augue. Ut eget est mi. Donec sodales iaculis nunc, ut consequat nulla lacinia at. Etiam congue elementum odio. Sed imperdiet in justo nec ullamcorper. Cras quis vehicula tellus. Sed accumsan turpis id urna tempus, sed sollicitudin felis consectetur.</p>
                <p>Fusce felis dolor, mollis maximus eleifend in, mollis eu est.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise07x" src="img/transparent_1500.png" data-src="img/placeholder.jpg" alt="Morbi aliquam tortor ut tincidunt efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet augue quis lectus dapibus viverra id non orci." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>

    </div><!--/container-->
</div><!--compromisers-->
<div id="tricks" class="waypoint chapter" data-down-waypoint="161,183" data-up-waypoint="132,157">
    <div class="edge-to-edge captioned">
            <img id="compromise09x" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-ga-students.jpg" alt="Appreciation for Diversity of Perspectives">
        <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
        <h2>6. Appreciation for Diversity of Perspectives</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>A happy classroom is a respectful classroom – plain and simple.</p>
                <p><a href="https://thinkcerca.com/bio/eileen-murphy-buckley/" target="_blank">Eileen Murphy</a>, founder and CEO of ThinkCERCA, says that “In an Engaging Classroom, peers who are well-qualified to engage each other and develop the intellectual values to appreciate others’ points of view.”</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise12x" src="img/transparent_1500.png" data-src="img/ny-teacher-3.jpg" alt="Suspendisse consectetur interdum diam venenatis egestas. Nullam a porttitor est. Interdum et malesuada fames ac ante ipsum primis in faucibus." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
               <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 waypoint" data-up-waypoint="229,262">
                <p>Students should be able to communicate openly, without judgment, in an instructional environment. This requires understanding, patience, and getting to know your students over time. Teaching across the curriculum incorporates a diversity of knowledge  that gives your class the opportunity to investigate an issue from as many perspectives as possible.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <h5>Lorem Ipsum</h5>
                <p>Respecting different perspectives means curating a space in which student perspectives are valued – no matter what. [TK: Strategies these teachers use]  A happy classroom is never one in which any student feels unable to express themselves and grow.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise10x" src="img/transparent_1500.png" data-src="img/placeholder.jpg" alt="Morbi in mauris quis ligula faucibus tristique nec quis urna. Vivamus non congue ipsum, vitae euismod justo." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>
</div><!--tricks-->
<div id="inquiry" class="waypoint chapter" data-down-waypoint="" data-up-waypoint=""> <!--Inquiry-->
    <div class="edge-to-edge captioned">
            <img id="" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-nm-students-2.jpg" alt="Inquiry-Based Learning">
    <div class="caption-text"><h6></h6></div>
      <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
      <h2>7. Inquiry-Based Learning</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Once a teacher has established a happy, interactive learning environment, the question becomes how to engageme each learner on a deeper level. The conditions have been set for children to think critically and retain what they’re learning, but how to best direct that energy?</p>
                <p>Rather than delivering top-down lectures about a subject—the teacher as director and the students as information receptacles—an inquiry-based model is driven by questioning and dialogue. It’s not “Here’s how the American Revolution happened,” but instead, “What factors contributed to the American Revolution? How did it happen?” with the teacher playing the role of facilitator in the discussion.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <h5>Lorem Ipsum</h5>
                <ul>
                    <li>Follow a model and inquiry-based content pieces to use the educator’s knowledge and expertise without being prescriptive or inhibiting conversation. This <a href="http://www.c3teachers.org/wp-content/uploads/2014/10/IDM_Assumptions_C3-Brief.pdf" target="_blank">Inquiry Design Model</a> shows how to unite content with conceptual knowledge skills for the most critical thinking.</li>
                    <li>Think like our old pal, Socrates. Rather than telling students they are right or wrong, and ending the conversation there, lead students’ understanding through follow-up questions, reflection, and further inquiry. Thinking critically is thinking deeply.</li>
                </ul>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/inquiry-->

<div id="connecting" class="waypoint chapter" data-down-waypoint="" data-up-waypoint=""> <!--Inquiry-->
    <div class="edge-to-edge captioned">
            <img id="" class="waypoint" src="img/transparent_1500.png" data-src="img/nm-students-4.jpg" alt="Inquiry-Based Learning">
    <div class="caption-text"><h6></h6></div>
      <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
      <h2>Concluding Thoughts</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>For these happy classroom strategies to truly take root, it should be an entire community approach. Happiness has a ripple effect. Happy students lead to happy teachers lead to an ideal environment to grow in. We hope you take the ideas that we’ve shared with you here and spread them. A happy classroom for every student is our goal.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/inquiry-->
<span id="listen" class="waypoint chapter" data-up-waypoint="">
<div id="audio-story">
    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="credits">
                        <h6>Project Credits</h6>
                        <p>Written and edited by Mallory Busch, Elizabeth Riley Boyer, Allison Rodriguez, and Kavita Venkatesh, Ph.D.</p>
                        <p>The code for this website was adapted with permission from NPR. It was built for the NPR story <em><a href="https://apps.npr.org/wolves/">Wolves at the Door</a></em>. The adapted code can be viewed on <a href="https://github.com/ThinkCERCA/wolves/">Github</a>.</p>
                        <p>This code was adapted for ThinkCERCA by <a href="https://twitter.com/yeamal">Mallory Busch</a>.</p>
                        <p>Sound mixing by Ryan Lammers</p>
						<p><em>Published January 6, 2018</em></p>
                    </div>
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/audio-story -->
<!-- Ambient audio players should be heard and not seen. -->
<div id="audio-ambient">
    <div id="pop-audio-ambient" class="jp-jplayer"></div>
    <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block extra_foot_js %}
{% endblock %}
