{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}

{% endblock extra_head %}
{% block content %}
<div class="titlecard-wrapper">
    <div id="top" style="top:0px;position:absolute;" class="waypoint" data-down-waypoint="0,38" data-up-waypoint="0,38"></div>
    <div id="title-text" class="animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="credit">
                        <li>
                            <img src="img/thinkcerca-logo.svg" class="npr-logo" alt="thinkcerca-logo"></li>
                    </ul>
                    <h1>Joyful Classrooms {# PROJECT_NAME #}</h1>
                    <h2>The Research-Based Practices to Make a Difference in Your Classroom
                    </h2>

                    <div class="begin-bar">
                        <p><strong>Begin</strong></p>
                        <div class="headphone-prompt"><h6><i class="fa fa-headphones"></i> Put on your headphones</h6></div><!--headphone prompt -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#title-text -->
    <div class="titlecard-mask animated fadeOut"></div>
    <div class="titlecard-first animated"></div>
    <div class="titlecard"></div>

</div><!-- /titlecard-wrapper -->

<ul class="toggle-ambi ambi-mute">
    <li class="ambient-on"><i class="fa fa-volume-up"></i></li>
    <li class="ambient-off"><i class="fa fa-volume-off"></i></li>
</ul><!--/toggle-ambi-->

<div class="controls">
    <ul class="section-nav nav">
        <li class="top-nav active">
            <a href="#top"><strong>Home</strong> <i class="fa fa-home"></i></a>
        </li>
        <li class="intro-nav">
            <a href="#intro"><strong>Introduction</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="watchers-nav">
            <a href="#watchers"><strong>Section 1</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="hunters-nav">
            <a href="#hunters"><strong>Section 2</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="science-nav">
            <a href="#science"><strong>Section 3</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="compromisers-nav">
            <a href="#compromisers"><strong>Section 4</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="tricks-nav">
            <a href="#tricks"><strong>Section 5</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="listen-nav">
            <a href="#audio-story"><strong>Section 6</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="share">
            <strong>Share</strong> <i class="fa fa-share"></i>
        </li>
    </ul>
</div>



<section id="content">
<div id="intro" class="waypoint chapter">
    <div class="edge-to-edge">
         <img id="intro06x" src="img/joyful-classroom-ga-teacher.jpg" alt="Lorem ipsum dolor sit amet" class="img-responsive waypoint">
         <h2 id="intro-advance">Lorem ipsum dolor<i class="fa fa-angle-down more-below animated"></i></h2>
    </div><!--/edge-to-edge-->
    <div id="intro-copy" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Suspendisse gravida, elit vel fermentum rutrum, metus lectus efficitur lorem, nec porttitor leo lectus quis diam.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                        <div class="enlarge">
                            <img id="intro02x" src="img/joyful-classroom-il-student-1.jpg" alt="Sed sed tellus sed massa vulputate dapibus." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Sed sed tellus sed massa vulputate dapibus. Sed eu mollis leo, sed sodales lectus. Vivamus sed molestie urna. Duis fringilla nec dui id porttitor. Praesent sagittis magna nec nulla ultricies dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Quisque neque elit, efficitur nec nunc sit amet, vulputate dictum lacus. Fusce et libero imperdiet, gravida mauris eleifend, mollis elit. Suspendisse potenti. Vivamus id nisl sed dolor gravida tincidunt. Quisque vitae metus a metus hendrerit sollicitudin eu sed nisi. Vivamus eget pharetra dolor.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers01x" src="img/transparent_1500.png" data-src="img/wolves/WATCHERS01x_1500.jpg" class="img-responsive waypoint" alt="Donec interdum viverra risus sed venenatis. Nulla id metus mollis, varius neque quis, eleifend felis. Mauris posuere justo vulputate mi facilisis, eget tincidunt erat consequat">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6>Donec interdum viverra risus sed venenatis. Nulla id metus mollis, varius neque quis, eleifend felis. Mauris posuere justo vulputate mi facilisis, eget tincidunt erat consequat</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>Vestibulum a leo nunc. Proin eleifend gravida ex in auctor. Duis tempus sem felis. Sed vitae dui erat. Pellentesque eu nisl a quam malesuada sollicitudin quis at est. Nam a pellentesque metus. Maecenas vel orci leo. Fusce semper eu purus tempor sagittis.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers03x" class="img-responsive waypoint" src="img/transparent_1500.png" data-src="img/wolves/WATCHERS03x_1500.jpg" alt="Aenean finibus felis lacus, nec pretium odio dapibus in. Mauris velit lacus, rutrum ac molestie id, pharetra eget quam.">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6>Aliquam a dapibus quam. Curabitur consequat lectus risus, non eleifend lectus pulvinar in. Curabitur elementum auctor vestibulum. Ut non augue in ligula fermentum ullamcorper.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>Aliquam a dapibus quam. Curabitur consequat lectus risus, non eleifend lectus pulvinar in. Curabitur elementum auctor vestibulum. Ut non augue in ligula fermentum ullamcorper.</p>
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/intro-->



<div id="watchers" class="waypoint chapter" data-down-waypoint="40,58" data-up-waypoint="0,38">
    <div class="edge-to-edge captioned">

            <img id="watchers09x" src="img/transparent_1500.png" data-src="img/wolves/WATCHERS09x_1500.jpg" alt="Cras nunc neque, gravida eget enim id, congue laoreet leo." class="waypoint">

        <div class="caption-text">
            <h6>Integer rhoncus magna est, sit amet feugiat lectus convallis eu.</h6>
        </div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>Cras nunc neque</h2>
    </div><!--/edge-to-edge-->

    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p>More than 3 million people from around the world visit Yellowstone National Park every year. The park is one of the best places in the world to see the gray wolf run and hear it howl. It's estimated that wolf-watching pumps about $35 million into the economies of communities around the park.</p>
                </div><!--/col-->
            </div><!--/row-->
             <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers08x" src="img/transparent_1500.png" data-src="img/wolves/WATCHERS08x_1500.jpg" alt="wolf-titlecard" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6>Maecenas ullamcorper libero sit amet ligula laoreet consectetur. Fusce sodales finibus nulla sit amet commodo.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Nam hendrerit arcu ut felis lobortis, blandit laoreet ligula congue. In interdum ipsum vestibulum, tincidunt nisi eu, interdum risus. Vestibulum iaculis enim at massa elementum, non suscipit arcu commodo:</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers04x" src="img/transparent_1500.png" data-src="img/wolves/WATCHERS04x_1500.jpg" alt="Praesent scelerisque ex sit amet sapien tempus tincidunt. In sagittis felis enim, in finibus mi luctus in. Morbi quis metus odio." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6>Praesent scelerisque ex sit amet sapien tempus tincidunt. In sagittis felis enim, in finibus mi luctus in. Morbi quis metus odio.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>

            <div class="row side-by-side waypoint" id="watchers05x-watchers06x">
                <div class="col-md-6 captioned">
                        <div class="enlarge">
                            <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS05x_1500.jpg" alt="Cras faucibus sollicitudin vulputate." class="img-responsive">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6>Cras faucibus sollicitudin vulputate.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

                </div>
                <div class="col-md-6 captioned">
                        <div class="enlarge">
                             <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS06x_1500.jpg" alt="Aliquam scelerisque velit et sem condimentum, non tristique eros hendrerit." class="img-responsive">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6>Aliquam scelerisque velit et sem condimentum, non tristique eros hendrerit.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>
    </div><!--/container-->
</div><!--/wolf watchers-->



<div id="hunters" class="waypoint chapter" data-down-waypoint="61,97" data-up-waypoint="40,58">
    <div class="edge-to-edge captioned">
            <img id="hunters01x" class="waypoint" src="img/transparent_1500.png" data-src="img/wolves/HUNTERS01x_1500.jpg" alt="Sed in molestie tellus, quis egestas sapien. Vestibulum tellus tellus, viverra at rhoncus non, interdum ac sem.">
    <div class="caption-text"><h6>Sed in molestie tellus, quis egestas sapien. Vestibulum tellus tellus, viverra at rhoncus non, interdum ac sem.</h6></div>
    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
    <h2>Cras rutrum lacus metus</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Nullam auctor fringilla ante at placerat. Praesent gravida lobortis tortor. Sed sit amet ipsum a lectus accumsan tempor. Morbi dapibus mauris ante, eu rutrum dolor vulputate sed. Integer sit amet mi sit amet nisi ullamcorper pellentesque id non ligula. Nulla euismod porttitor orci, sed euismod mauris dictum sit amet.</p>

            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                            <img id="hunters02x" src="img/transparent_1500.png" data-src="img/wolves/HUNTERS02x_1500.jpg" alt="Phasellus feugiat sem a nunc mattis feugiat. Mauris eu tristique nisi." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6>Phasellus feugiat sem a nunc mattis feugiat. Mauris eu tristique nisi.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>

    <div class="quote waypoint" id="quote-bruce-stell">
        <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3">
                        <h3>&ldquo;Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse eu risus eu turpis accumsan suscipit vitae a enim.&rdquo;</h3>
                        <h6> &#8212; Curabitur euismod, ipsum suscipit ultricies convallis</h6>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/quote-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                            <img id="hunters03x" src="img/transparent_1500.png" data-src="img/wolves/HUNTERS03x_1500.jpg" alt="Quisque ac condimentum metus. Vivamus eu diam posuere, vulputate magna et, ornare velit." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6>Quisque ac condimentum metus. Vivamus eu diam posuere, vulputate magna et, ornare velit.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Pellentesque molestie quam a dapibus egestas. Duis eget turpis diam. Nam id ante est. Vestibulum eu tortor facilisis, ultricies justo id, mattis nunc.</p>
                <p>Aenean suscipit quis felis ut congue. Vivamus hendrerit lectus id arcu varius, tempor consectetur nunc maximus. Donec consequat egestas magna, a euismod turpis rhoncus ac. Aenean quis placerat neque, non imperdiet lorem. In facilisis sagittis vehicula.</p>
            </div><!--/col-->
        </div><!--/row-->

        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                             <img id="hunters05x" src="img/transparent_1500.png" data-src="img/wolves/HUNTERS05x_1500.jpg" alt="Vestibulum vel turpis turpis. In vestibulum mollis velit. Sed ligula lacus, fermentum at facilisis ac, sollicitudin non quam." class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6>Vestibulum vel turpis turpis. In vestibulum mollis velit. Sed ligula lacus, fermentum at facilisis ac, sollicitudin non quam.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div>
        </div>

        <div class="row side-by-side waypoint" id="hunters04x-hunters06x">
            <div class="col-md-6 captioned">
                <div class="enlarge">
                            <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS04x_1500.jpg" alt="Maecenas dui erat, posuere laoreet rhoncus maximus, lobortis eu mauris." class="img-responsive">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6>Maecenas dui erat, posuere laoreet rhoncus maximus, lobortis eu mauris.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div><!--/col-->

            <div class="col-md-6 captioned">
                <div class="enlarge">
                            <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS06x_1500.jpg" alt="Donec scelerisque libero nibh, ut viverra dolor venenatis scelerisque. Sed vel orci vel risus tempus semper nec cursus ex." class="img-responsive">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6>Donec scelerisque libero nibh, ut viverra dolor venenatis scelerisque. Sed vel orci vel risus tempus semper nec cursus ex.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>Praesent ornare leo et dui porttitor malesuada. Praesent tempor orci et finibus ultrices. Nunc ex sem, luctus ac est vel, tempor posuere turpis. Nunc quis bibendum dolor.</p>
                <p>Fusce gravida risus id libero mollis volutpat. Nam non convallis nibh. In hac habitasse platea dictumst. Ut at consequat mi.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/hunters-->

<div id="science" class="waypoint chapter" data-down-waypoint="101,127" data-up-waypoint="61,97">
    <div class="edge-to-edge">
            <img id="kicker03x" class="waypoint" src="img/transparent_1500.png" data-src="img/wolves/KICKER03x_1500.jpg" alt="wolf-titlecard">
            <h2>Studying wolves</h2>
    </div>

    <div class="section-intro">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 ">
                        <p>Duis auctor, dui vel facilisis porttitor, mauris quam consequat quam, fringilla gravida dolor ipsum ut enim. Fusce vitae ante orci. Suspendisse potenti. Phasellus sit amet velit at ligula aliquam varius sed in ipsum. Maecenas semper tincidunt lorem, vitae fringilla sem commodo at. Curabitur in est ornare, hendrerit purus sit amet, pulvinar elit.</p>
                        <p>Mauris aliquam elementum est eget rhoncus. Ut venenatis nibh sed sapien cursus egestas. Vestibulum sodales velit et tellus congue euismod. Donec at tempor elit, non dapibus mi. Pellentesque eget molestie ligula. Morbi ultricies quam leo, sit amet auctor nulla bibendum mollis. Vivamus nec ex lorem. Nam at tempus mauris. Curabitur et magna quis nunc ultricies imperdiet. Vivamus vel nibh neque.</p>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/section-intro-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="science03x" src="img/transparent_1500.png" data-src="img/wolves/SCIENCE03x_1500.jpg" alt="Sed varius, ex vitae lacinia ornare, dolor sem volutpat lacus, quis fermentum tortor sapien nec nulla." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>Sed varius, ex vitae lacinia ornare, dolor sem volutpat lacus, quis fermentum tortor sapien nec nulla.</h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row side-by-side waypoint" id="science01x-science02x">
            <div class="col-md-6 captioned">
                <div class="enlarge">
                    <img src="img/transparent_1500.png" data-src="img/wolves/SCIENCE01x_1500.jpg" alt="Donec gravida pretium eros ut tristique." class="img-responsive">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>Donec gravida pretium eros ut tristique.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->

            <div class="col-md-6 captioned">
                <div class="enlarge">
                    <img src="img/transparent_1500.png" data-src="img/wolves/SCIENCE02x_1500.jpg" alt="In hac habitasse platea dictumst. Pellentesque scelerisque leo ut massa posuere, eu porttitor libero bibendum." class="img-responsive">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>In hac habitasse platea dictumst. Pellentesque scelerisque leo ut massa posuere, eu porttitor libero bibendum.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>Ut a libero cursus, porttitor elit vitae, euismod tellus. Nulla in consequat lorem, eget facilisis mauris. Vestibulum interdum purus turpis, ac pellentesque justo eleifend quis.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--science-->



<div id="compromisers" class="waypoint chapter" data-down-waypoint="132,157" data-up-waypoint="101,127">
    <div class="edge-to-edge captioned">
            <img id="compromise01x" class="waypoint" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE01x_1500.jpg" alt="In tempor, dui non euismod vulputate, metus leo auctor quam, et sagittis leo ex in quam. Vestibulum ornare tellus sed sapien placerat faucibus.">
        <div class="caption-text"><h6>In tempor, dui non euismod vulputate, metus leo auctor quam, et sagittis leo ex in quam. Vestibulum ornare tellus sed sapien placerat faucibus.</h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>Proin interdum elit non feugiat porta.</h2>
    </div><!--/edge-to-edge -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Duis condimentum tempus justo vel porta. Aenean mattis justo nec massa posuere, sed posuere nibh accumsan. Morbi diam urna, malesuada id scelerisque at, hendrerit gravida lorem. Proin mattis velit in libero posuere suscipit. Proin facilisis consectetur tortor ac vulputate.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise08x" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE08x_1500.jpg" alt="Vivamus cursus dui nec efficitur auctor. Quisque sagittis bibendum sagittis." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                   <div class="caption-text"><h6>Vivamus cursus dui nec efficitur auctor. Quisque sagittis bibendum sagittis.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Phasellus congue in augue at imperdiet. Sed ut efficitur ipsum. Suspendisse accumsan vitae mi tincidunt elementum. Curabitur quis tincidunt nibh, porta vehicula arcu. Pellentesque at dui a elit tincidunt malesuada. Vestibulum magna libero, aliquet et dolor vel, tincidunt tempor eros.</p>
                <p>Pellentesque a orci quis purus pretium maximus. Mauris lacus libero, eleifend in ex vel, volutpat ultricies mi. Aenean non lacus sit amet lectus consequat lobortis non sit amet lacus. Cras eleifend placerat est ac vehicula. Curabitur purus odio, faucibus et fermentum id, aliquet vel urna. Vivamus at euismod justo. Nulla eu congue odio.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise02x" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE02x_1500.jpg" alt=". Nunc ac ornare ipsum. Donec luctus, tellus consequat dapibus dictum, est metus bibendum libero, quis laoreet nibh arcu a diam." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>. Nunc ac ornare ipsum. Donec luctus, tellus consequat dapibus dictum, est metus bibendum libero, quis laoreet nibh arcu a diam.</h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>
    </div><!--/container-->

    <div class="quote waypoint" id="quote-jim-stone">
        <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3">
                        <h3>&ldquo;Praesent pharetra tellus sit amet quam malesuada faucibus. Fusce non condimentum purus, eget tristique odio. Nulla eu nunc massa. Mauris erat dui, vehicula at commodo sollicitudin, volutpat non ex.&rdquo;</h3>
                        <h6> &#8212; Nulla pretium lectus ut elit condimentum tempor non a erat.</h6>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/quote-->

    <div class="container">
         <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise03x" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE03x_1500.jpg" alt="Curabitur quis dolor augue. Etiam aliquam aliquet tortor, pharetra faucibus odio fermentum at." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                 <div class="caption-text"><h6>Curabitur quis dolor augue. Etiam aliquam aliquet tortor, pharetra faucibus odio fermentum at.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Fusce ultricies mattis dui at ultrices. Nam porta, erat non fermentum pulvinar, dui enim consectetur dolor, id hendrerit diam justo eget mauris. Morbi eu velit ac metus interdum gravida at in libero. Fusce sem nisi, blandit vitae lectus nec, ultricies sollicitudin dui.</p>
                <p>Curabitur viverra velit at velit pellentesque, cursus mattis ipsum pellentesque. Phasellus eu euismod augue. Ut eget est mi. Donec sodales iaculis nunc, ut consequat nulla lacinia at. Etiam congue elementum odio. Sed imperdiet in justo nec ullamcorper. Cras quis vehicula tellus. Sed accumsan turpis id urna tempus, sed sollicitudin felis consectetur.</p>
                <p>Fusce felis dolor, mollis maximus eleifend in, mollis eu est.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise07x" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE07x_1500.jpg" alt="Morbi aliquam tortor ut tincidunt efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet augue quis lectus dapibus viverra id non orci." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>Morbi aliquam tortor ut tincidunt efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sit amet augue quis lectus dapibus viverra id non orci.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
        <div class="row side-by-side waypoint" id="compromise05x-compromise06x">
            <div class="col-md-6 captioned">
                <div class="enlarge">
                    <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE05x_1500.jpg" alt="Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla tempor, neque non sollicitudin finibus, sapien purus tincidunt dolor, quis dapibus lorem nibh sit amet odio. Aliquam sed nulla et mi porta porta." class="img-responsive">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>EClass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla tempor, neque non sollicitudin finibus, sapien purus tincidunt dolor, quis dapibus lorem nibh sit amet odio. Aliquam sed nulla et mi porta porta.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
            <div class="col-md-6 captioned">
                <div class="enlarge">
                    <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE06x_1500.jpg" alt="Mauris auctor mauris quis consectetur tincidunt. Integer feugiat purus vel pretium eleifend. Nam aliquet pulvinar dolor, a tincidunt arcu cursus at. Phasellus ut massa pretium, efficitur ante non, egestas nisl." class="img-responsive">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>Mauris auctor mauris quis consectetur tincidunt. Integer feugiat purus vel pretium eleifend. Nam aliquet pulvinar dolor, a tincidunt arcu cursus at. Phasellus ut massa pretium, efficitur ante non, egestas nisl.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
        </div><!--/row-->

    </div><!--/container-->
</div><!--compromisers-->
<div id="tricks" class="waypoint chapter" data-down-waypoint="161,183" data-up-waypoint="132,157">
    <div class="edge-to-edge captioned">
            <img id="compromise09x" class="waypoint" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE09x_1500.jpg" alt="Aenean tempus vestibulum facilisis. Vivamus ultricies metus ac ex faucibus, nec commodo diam malesuada.">
        <div class="caption-text"><h6>Aenean tempus vestibulum facilisis. Vivamus ultricies metus ac ex faucibus, nec commodo diam malesuada.</h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
        <h2>Sed varius dui sapien</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Donec vitae diam at tortor dictum scelerisque. Nam quis vulputate massa. Mauris quam nibh, porta consectetur mauris sed, sodales ullamcorper ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <p>Vivamus iaculis ex nulla, et scelerisque lorem molestie at. Donec quis pellentesque purus. Vivamus vel erat euismod, aliquam odio et, sollicitudin libero. Donec suscipit efficitur tellus ac tristique.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise12x" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE12x_1500.jpg" alt="Suspendisse consectetur interdum diam venenatis egestas. Nullam a porttitor est. Interdum et malesuada fames ac ante ipsum primis in faucibus." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
               <div class="caption-text"><h6>Suspendisse consectetur interdum diam venenatis egestas. Nullam a porttitor est. Interdum et malesuada fames ac ante ipsum primis in faucibus.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 waypoint" data-up-waypoint="229,262">
                <p>Quisque eget augue pharetra eros mattis iaculis id vitae ligula. Nam eros mauris, gravida at dolor eu, dignissim molestie nisi. Vivamus vulputate ultrices cursus. Nunc ut lacinia mi. Curabitur sapien ipsum, tempor quis purus non, aliquam semper tortor. Vivamus gravida non nisl quis porttitor.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise10x" src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE10x_1500.jpg" alt="Morbi in mauris quis ligula faucibus tristique nec quis urna. Vivamus non congue ipsum, vitae euismod justo." class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6>Morbi in mauris quis ligula faucibus tristique nec quis urna. Vivamus non congue ipsum, vitae euismod justo.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>
</div><!--tricks-->
<span id="listen" class="waypoint chapter" data-up-waypoint="161,183">
<div id="audio-story">
    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="credits">
                    	<h6>Project Credits</h6>
                      <p>"Joyful Classrooms" was written by <a href="https://twitter.com/elizabethriley"> Elizabeth Riley Boyer</a>.</p>
                      <p>The code for this website was adapted with permission from NPR. It was built for the NPR story <em><a href="https://apps.npr.org/wolves/">Wolves at the Door</a></em>. The adapted code can be viewed on <a href="https://github.com/ThinkCERCA/wolves/">Github</a>.</p>
						          <p>NPR Design and Development: Jeremy Bowers, Steve Drummond, Tyler Fisher, Chris Groskopf, Becky Lettenberger, Wes Lindamood and Claire O'Neill</p>
                      <p>This code was adapted for ThinkCERCA by <a href="https://twitter.com/yeamal">Mallory Busch</a>.</p>
						          <p><em>Published December 6, 2017</em></p>
                    </div>


                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/audio-story -->
<!-- Ambient audio players should be heard and not seen. -->
<div id="audio-ambient">
    <div id="pop-audio-ambient" class="jp-jplayer"></div>
    <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block extra_foot_js %}
{% endblock %}
