{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}

{% endblock extra_head %}
{% block content %}
<div class="titlecard-wrapper">
    <div id="top" style="top:0px;position:absolute;" class="waypoint" data-down-waypoint="0,38" data-up-waypoint="0,38"></div>
    <div id="title-text" class="animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="credit">
                        <li>
                            <img src="img/thinkcerca-logo.svg" class="npr-logo" alt="ThinkCERCA"></li>
                    </ul>
                    <h1>Creating Happy, Noisy Classrooms</h1>
                    <h2>How to make a difference and boost student engagement.</h2>

                    <div class="begin-bar">
                        <p><strong>Begin</strong></p>
                        <div class="headphone-prompt"><h6><i class="fa fa-headphones"></i> Put on your headphones</h6></div><!--headphone prompt -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#title-text -->
    <div class="titlecard-mask animated fadeOut"></div>
    <div class="titlecard-first animated"></div>
    <div class="titlecard"></div>

</div><!-- /titlecard-wrapper -->

<ul class="toggle-ambi ambi-mute">
    <li class="ambient-on"><i class="fa fa-volume-up"></i></li>
    <li class="ambient-off"><i class="fa fa-volume-off"></i></li>
</ul><!--/toggle-ambi-->

<div class="controls">
    <ul class="section-nav nav">
        <li class="top-nav active">
            <a href="#top"><strong>Home</strong> <i class="fa fa-home"></i></a>
        </li>
        <li class="intro-nav">
            <a href="#intro"><strong>Introduction</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="connections-nav">
            <a href="#connections"><strong>1. Connecting with Students</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="feedback-nav">
            <a href="#feedback"><strong>2. Personalized Feedback</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="discussion-nav">
            <a href="#discussion"><strong>3. Peer-to-Peer Discussion</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="collaboration-nav">
            <a href="#collaboration"><strong>4. Cross-Curricular Collaboration</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="ownership-nav">
            <a href="#ownership"><strong>5. Students Taking Ownership of their Learning</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="perspectives-nav">
            <a href="#perspectives"><strong>6. Appreciation for Diversity of Perspectives</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="inquiry-nav">
            <a href="#inquiry"><strong>7. Inquiry-Based Learning</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="conclusion-nav">
            <a href="#conclusion"><strong>Concluding Thoughts</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="listen-nav">
            <a href="#audio-story"><strong>Credits</strong> <i class="fa fa-circle"></i></a>
        </li>
        <li class="share">
            <strong>Share</strong> <i class="fa fa-share"></i>
        </li>
    </ul>
</div>



<section id="content">
<div id="intro" class="waypoint chapter">
    <div class="edge-to-edge edge-to-edge-audio">
         <img id="intro06x" src="img/transparent_1500.png" data-src="img/ny-student-2.jpg" class="img-responsive waypoint">
         <h2 id="intro-advance">Joyful Learning Environments<i class="fa fa-angle-down more-below animated"></i></h2>
    </div><!--/edge-to-edge-->
    <div id="intro-copy" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>We spend so much time discussing how to create an effective or efficient classroom that we often overlook the foundation for all productive teaching and learning: <em>joy</em>.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                        <div class="enlarge">
                            <img id="intro02x" src="img/transparent_1500.png" data-src="img/joyful-classroom-ga-teacher.jpg" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Classrooms that nurture curiosity, discovery, and the open exchange of ideas are engaging. They provide a solid foundation for students to hone the skills essential to 21st-century success:</p>
                    <ul>
                        <li>Critical Thinking</li>
                        <li>Communication</li>
                        <li>Collaboration</li>
                        <li>Problem Solving</li>
                    </ul>
                    <p>In these talkative classrooms, students learn how to analyze complex topics from multiple viewpoints. In doing so, they bring strong points to engaging and insightful discussions. Gone are the days of rote memorization and hours spent quiet and stuck to a single, isolated desk or computer.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers01x" src="img/placeholder.jpg" data-src="img/il-class-2.jpg" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6></h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>A happy, noisy classroom takes the best parts of childhood &mdash; the silliness, the spark, the itch to communicate and question – and uses them to the advantage and benefit of learning. Regardless of whether you teach STEM or ELA, 3rd grade or 12th, the elements of a boisterous learning environment can take root and flourish in your classroom.</p>
                    <h4>These are the research-based practices that create <strong>happy, noisy classrooms:</strong></h4>
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/intro-->

<div id="connections" class="waypoint chapter">
    <div class="edge-to-edge captioned">
            <img id="compromise01x" class="waypoint" src="img/transparent_1500.png" data-src="img/ny-teacher-4.jpg" alt="Connecting with Students">
        <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>1. Connecting with students</h2>
    </div><!--/edge-to-edge -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Every person leads a complex life &mdash; students and teachers alike. Everyone has unique interests, ideas, experiences, perspectives, and needs.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise08x" src="img/transparent_1500.png" data-src="img/joyful-classroom-il-class.jpg" class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                   <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>In a packed school day with many students and dwindling minutes, it’s <a href="http://www.ttacnews.vcu.edu/2012/08/building-positive-relationships-with-students/" target="_blank">even more important</a> to build deeper connections with students by learning what drives, worries, and excites each and every one of them.</p>
                <p>When you know each student’s interests and needs, you’re able to personalize instruction for them – and get them to the next level. You’re able to accomodate for gaps or bring in more rigorous and relevant materials. By deepening these connections with students, you establish a mutual respect and set the foundation for more inquiry and feedback later on.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise02x" src="img/transparent_1500.png" data-src="img/joyful-classroom-ny-teacher.jpg" class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>
    </div><!--/container-->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                    <h5>Make sure that you:</h5>
                    <ul>
                        <li><strong>Can accurately pronounce all students’ names.</strong></li>
                        <li><strong>Are familiar with every student's home and family life.</strong></li>
                            <ul>
                                <li>Are they an only child?</li>
                                <li>Do they have siblings?</li>
                                <li>Do they speak a second language at home?</li> 
                                <li>How do they get to and from school?</li>
                            </ul>
                        <li><strong>Know what interests each student.</strong></li>
                            <ul>
                                <li>What are their unique skills?</li>
                                <li>Are they passionate about video games? Sports? Books? History or math?</li>
                                <li>Which outlets spark their curiosity?</li>
                            </ul>
                        <li><strong>Understand what each student needs.</strong></li>
                            <ul>
                                <li>Is it helpful to have a moment of calm music and personal reflection before diving into coursework?</li>
                                <li>Does the student thrive with teacher or peer guidance?</li>
                                <li>How can their interests help facilitate the building of skills?</li>
                            </ul>
                    </ul>
                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-a6f20826-44d0-43f0-9c1b-61d0b04e2078"><span class="hs-cta-node hs-cta-a6f20826-44d0-43f0-9c1b-61d0b04e2078" id="hs-cta-a6f20826-44d0-43f0-9c1b-61d0b04e2078"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/a6f20826-44d0-43f0-9c1b-61d0b04e2078"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-a6f20826-44d0-43f0-9c1b-61d0b04e2078" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/a6f20826-44d0-43f0-9c1b-61d0b04e2078.png"  alt="13 Narrative Writing Prompts About Family >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, 'a6f20826-44d0-43f0-9c1b-61d0b04e2078', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--compromisers-->

<div id="feedback" class="waypoint chapter">
    <div class="edge-to-edge captioned">

            <img id="watchers09x" src="img/transparent_1500.png" data-src="img/ny-teacher-7.jpg">

        <div class="caption-text">
            <h6></h6>
        </div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>2. Personalized Feedback</h2>
    </div><!--/edge-to-edge-->

    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <p>As a teacher, you understand the importance of helping students recognize their errors. With the number of scantrons, apps, and automated scoring assessments now available to educators, identifying errors can be a straightforward process. Providing personalized feedback to correct them? Not so much.</p>

                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers03x" class="img-responsive" src="img/placeholder.jpg" data-src="img/ga-teacher-2.jpg">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6></h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>It’s a timely endeavor, but it’s worth the effort to provide each student with personalized, direct, and specific feedback. A <a href="https://research.acer.edu.au/cgi/viewcontent.cgi?article=1003&context=research_conference_2003" target="_blank">review of research</a> by John Hattie found that among a sample of possible classroom influences, feedback from a teacher has the greatest effect on student achievement.</p>
                    <p>Hattie writes that teachers who “provide much more relevant, useful feedback” to their students are “better able to filter relevant from irrelevant information, and are able to monitor, understand, and interpret events in more detail… As a consequence they seek and provide more and better feedback in light of this monitoring...” (Hattie, “Teachers Make a Difference, What is the research evidence?,” 7–8).</p>
                </div><!--/col-->
            </div><!--/row-->
             <div class="row">
                <div class="col-md-12 captioned">
                    <div class="enlarge">
                            <img id="watchers08x" src="img/transparent_1500.png" data-src="img/joyful-classroom-ny-teacher-2.jpg" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                    <div class="caption-text"><h6></h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 class="tip"><strong>What You Can Do</strong></h4>
                    <ul>
                        <li>Make sure that <a href="https://support.thinkcerca.com/hc/en-us/articles/115004229587-How-to-Give-Great-Feedback-with-ThinkCERCA?from=happyclassrooms" target="_blank">the feedback you provide</a> is:</li>
                        <ul>
                            <li>Personal</li>
                            <li>Relevant</li>
                            <li>Clear</li>
                            <li>Actionable</li>
                        </ul>
                        <li>Let students know that failure is okay – we all get things wrong sometimes. When students feel more comfortable sharing their thoughts, you’ll better understand where they’re at, and you’ll be able to provide more relevant feedback.</li>
                        <li>Iterate on your practice! Feedback goes both ways – don’t just provide feedback, solicit it from your students as well. You’ll get insight into how you can alter your teaching to be more effective.</li>
                        <li>Test out new solutions or strategies for helping students understand a topic. Feedback doesn’t always have to be a one-on-one discussion – it can generate new methods of instruction, too.</li>
                    </ul>
                    <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-d2f29797-fa2d-441f-b90a-2cb09b404355"><span class="hs-cta-node hs-cta-d2f29797-fa2d-441f-b90a-2cb09b404355" id="hs-cta-d2f29797-fa2d-441f-b90a-2cb09b404355"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/d2f29797-fa2d-441f-b90a-2cb09b404355"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-d2f29797-fa2d-441f-b90a-2cb09b404355" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/d2f29797-fa2d-441f-b90a-2cb09b404355.png"  alt="Get the Education + Entrepreneurship Newsletter >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, 'd2f29797-fa2d-441f-b90a-2cb09b404355', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/wolf watchers-->



<div id="discussion" class="waypoint chapter">
    <div class="edge-to-edge captioned">
            <img id="hunters01x" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-ga-students-2.jpg">
    <div class="caption-text"><h6></h6></div>
    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
    <h2>3. Peer-to-Peer Discussion</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Happy classrooms are noisy classrooms; they are classrooms in which students engage with peers to develop their ideas.</p>
                <p>When we consider the skills our students need to achieve success in the 21st-century world, <strong>communication</strong>, <strong>collaboration</strong>, and <strong>critical thinking</strong> are chief among them. These are skills which cannot be honed in a vacuum.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
    <div class="container">

        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                             <img id="hunters05x" src="img/transparent_1500.png" data-src="img/ny-students-3.jpg" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>By discussing and debating concepts with peers, students encounter and engage with different perspectives. They also learn how to advocate for their ideas, and are often motivated by their peers to do well, too.</p>
                <p><a href="http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=55879EF73B19DE890DAF5B6C35527F2C?doi=10.1.1.719.703&rep=rep1&type=pdf" target="_blank">Research shows</a> that in classes without discussion, “students achieved an average gain of only 25% between their pre- and post-test scores.” However, “when lecturers paused and asked students to discuss the concept presented in pairs or small groups (three or four students), students achieved an average gain of 48%” (Osborne, “Arguing to Learn in Science: The Role of Collaborative, Critical Discourse,” 464).</p>
            </div>
        </div><!--/row-->

        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                             <img id="hunters05x" src="img/transparent_1500.png" data-src="img/il-class-3.jpg" class="img-responsive waypoint">
                            <div class="option"><i class="fa fa-search-plus"></i></div>
                        </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>Through peer discussion, students practice argumentation. They learn how to hold their ideas up to scrutiny and criticism, and they learn from their peers’ varied perspectives. By practicing argumentation, discussion, and debate, students gain a richer understanding of a subject, and are better prepared for the world awaiting them.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <ul>
                    <li>Use <a href="https://support.thinkcerca.com/hc/en-us/articles/115002176468-Graphic-Organizers-to-Support-Close-Reading-Effective-Writing-and-Critical-Thinking?from=happyclassrooms" target="_blank">graphic organizers</a> to help students organize their ideas and construct cohesive arguments for writing or discussion.</li>
                    <li>Use a standard argumentation framework to help students develop their own critical understanding of what they’re discussing. In <a href="https://thinkcerca.com/cerca-literacy-framework/?from=happyclassrooms" target="_blank">the CERCA framework</a>, for instance, students start with a <strong>Claim</strong>, support it with <strong>Evidence</strong>, explain their <strong>Reasoning</strong>, and address <strong>Counterarguments</strong> while using <strong>Audience</strong>-appropriate language.</li>
                </ul>
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0"><span class="hs-cta-node hs-cta-3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0" id="hs-cta-3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0.png"  alt="Download Argumentative Writing Poster >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, '3f2b8d13-3bf5-4f2c-a2ba-58de096f2dd0', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/hunters-->

<div id="collaboration" class="waypoint chapter">
    <div class="edge-to-edge captioned">
            <img id="kicker03x" class="waypoint" src="img/transparent_1500.png" data-src="img/ny-teachers-5.jpg">
            <h2>4. Cross-Curricular Collaboration</h2>
    </div>

    <div class="section-intro">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 ">
                        <p>Many teachers know that learning deepens when students study a topic through multiple lenses. By connecting a topic to other classes, that lesson can become more fun and exciting; it shows students new ways to think about a concept.</p>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/section-intro-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="science03x" src="img/transparent_1500.png" data-src="img/ny-students-4.jpg" class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b></b> </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>In life, issues are not segmented solely based on whether they apply to math, science, ELA, or social studies. Students need a basis for understanding how various disciplines impact a topic, whether it’s bringing math into a history lesson or biology into a humanities discussion.</p>
                <p>On the research side, the benefits of using a consistent strategy and framework across the curriculum are clear as well: a <a href="https://consortium.uchicago.edu/sites/default/files/publications/ACTReport08.pdf" target="_blank">University of Chicago study</a> shows that discussion, debate, and collaborative classroom activities like peer-editing are the keys to success in all subjects.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="science03x" src="img/transparent_1500.png" data-src="img/ny-teachers-6.jpg" class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
                <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b></b> </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>While learning with peers across subjects, students witness the interconnectedness of what they’re learning. Topics become more exciting, and engagement can soar.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <ul>
                    <li>Establish a day and time of the week – Fridays at lunch, for instance – to share with your colleagues which classroom strategies are working well for your students. By setting a routine to discuss solutions and ideas, you set work in motion for future cross-curricular collaboration.</li>
                    <li>Look at schedules with colleagues ahead of time – do units of study in the school year line up well with particular subjects? Search for commonalities in curriculum and see if you can slightly restructure syllabi to fit in cross-curricular collaboration.</li>
                    <li>In your classroom, always ask students for another lens. Whether it’s a contrary opinion or the way a topic could be analyzed from the analytical, financial, historical, or social perspective, there are a number of small ways you can get students thinking across the curriculum.</li>
                </ul>
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-936363c3-b617-4561-84fa-b938922c87e2"><span class="hs-cta-node hs-cta-936363c3-b617-4561-84fa-b938922c87e2" id="hs-cta-936363c3-b617-4561-84fa-b938922c87e2"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/936363c3-b617-4561-84fa-b938922c87e2"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-936363c3-b617-4561-84fa-b938922c87e2" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/936363c3-b617-4561-84fa-b938922c87e2.png"  alt="How to Make Time for Collaboration >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, '936363c3-b617-4561-84fa-b938922c87e2', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--science-->




<div id="ownership" class="waypoint chapter">
    <div class="edge-to-edge captioned">
            <img id="compromise01x" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-ny-students.jpg">
        <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
        <h2>5. Students Taking Ownership of Their Learning</h2>
    </div><!--/edge-to-edge -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>When students take ownership of their learning, they have a sense of what they want to learn and how they can learn it. They become the drivers of their own learning, honing the executive function skills that prepare them for college and career.</p>
                <p>In order for students to take ownership of their learning, they must know:</p>
                <ul>
                    <li>What the overarching goals of a lesson are</li>
                    <li>That the lesson is important</li>
                    <li><em>Why</em> the lesson is important</li>
                    <li>Possible ways they might achieve the goals of the lesson</li>
                </ul>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise08x" src="img/transparent_1500.png" data-src="img/nm-students-3.jpg" class="img-responsive waypoint">
                </div><!--/enlarge-->
                   <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
            </div>
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>When students understand the importance of a lesson and its overarching goals, they gain a sense of how they can direct their learning to achieve those goals. This provides students some control, increasing engagement with the topic and preparing them to take on challenges.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <ul>
                    <li>At the start of a lesson, clearly state what students should be able to do at the end of the lesson. Then, provide students with suggestions for  how they might achieve those goals. Consider differentiation and varying student needs and interests when proposing certain assignments or projects.</li>
                    <li>Use Project-Based Learning (PBL) to really help students take charge of their learning. With PBL, students research a real-world problem and test solutions to fix it. As a teacher, you can provide guidance to help them identify a problem, but take a step back and allow them to take charge of creating the solution.</li>
                </ul>
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-404d6063-98f2-4cba-910d-1c82f61f2d84"><span class="hs-cta-node hs-cta-404d6063-98f2-4cba-910d-1c82f61f2d84" id="hs-cta-404d6063-98f2-4cba-910d-1c82f61f2d84"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/404d6063-98f2-4cba-910d-1c82f61f2d84"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-404d6063-98f2-4cba-910d-1c82f61f2d84" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/404d6063-98f2-4cba-910d-1c82f61f2d84.png"  alt="Visit the PBL Hub >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, '404d6063-98f2-4cba-910d-1c82f61f2d84', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div><!--/col-->
        </div><!--/row-->
</div><!--compromisers-->

<div id="perspectives" class="waypoint chapter">
    <div class="edge-to-edge captioned">
            <img id="compromise09x" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-ga-students.jpg">
        <div class="caption-text"><h6></h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
        <h2>6. Appreciation for Diversity of Perspectives</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>A happy classroom is a respectful classroom &mdash; plain and simple. These classrooms tolerate, discuss, and value different perspectives. They develop a space for students to communicate openly, without judgment, and to engage with ideas that may be contrary to their own.</p>
                <p>In an increasingly interconnected world, it’s essential for students to understand and appreciate many perspectives. Learning how to engage with new ideas will aid students throughout their lives, and prepare them for the future.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise12x" src="img/transparent_1500.png" data-src="img/ny-teacher-3.jpg" class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
               <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 waypoint">
                <p>ThinkCERCA’s founder, <a href="https://thinkcerca.com/bio/eileen-murphy-buckley/" target="_blank">Eileen Murphy</a>, was an ELA teacher for 15 years. She saw firsthand how discussion and critical thinking are impacted by students’ understanding of diverse perspectives. In happy, noisy classrooms, she says, “Peers who are well-qualified to engage each other develop intellectual values to appreciate others’ points of view.”</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <ul>
                    <li>Play devil’s advocate. During classroom discussions, students might be wary of voicing an opinion the majority of their peers don’t seem to share. Take it upon yourself to always seek out and present an additional point of view to your students; they might consider an argument they had never thought about before, or be more willing to share a new perspective.</li>
                    <li>Make sure that when evaluating current and historical events, students read a variety of perspectives. In bringing in multiple interpretations, though, it’s important to still hold those sources to a high standard. Thus, provide materials to your students with a caveat: they must think critically about the information they consume.</li>
                </ul>
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-60c68e4d-9a4a-4223-bc52-feabf00b0fa0"><span class="hs-cta-node hs-cta-60c68e4d-9a4a-4223-bc52-feabf00b0fa0" id="hs-cta-60c68e4d-9a4a-4223-bc52-feabf00b0fa0"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/60c68e4d-9a4a-4223-bc52-feabf00b0fa0"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-60c68e4d-9a4a-4223-bc52-feabf00b0fa0" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/60c68e4d-9a4a-4223-bc52-feabf00b0fa0.png"  alt="Help Students Make Sense of Current Events >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, '60c68e4d-9a4a-4223-bc52-feabf00b0fa0', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div><!--/col-->
        </div><!--/row-->

    </div>
</div><!--tricks-->
<div id="inquiry" class="waypoint chapter"> <!--Inquiry-->
    <div class="edge-to-edge captioned">
            <img id="" class="waypoint" src="img/transparent_1500.png" data-src="img/joyful-classroom-nm-students-2.jpg">
    <div class="caption-text"><h6></h6></div>
      <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
      <h2>7. Inquiry-Based Learning</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>A noisy, happy classroom produces habits that are conducive to inquiry, and vice versa.</p>
                <p>Rather than delivering top-down lectures on a subject, a class structured around inquiry is driven by discovery, with research and dialogue front-and-center.</p>
                <p>In practice, the adoption of inquiry-based learning can be as simple as changing the stated thesis of a lesson from “This is how the American Revolution happened” to “What factors contributed to the American Revolution?”</p>
            </div><!--/col-->
        </div><!--/row-->

        <div class="row">
            <div class="col-md-12 captioned">
                <div class="enlarge">
                    <img id="compromise12x" src="img/transparent_1500.png" data-src="img/il-class-4.jpg" class="img-responsive waypoint">
                    <div class="option"><i class="fa fa-search-plus"></i></div>
                </div><!--/enlarge-->
               <div class="caption-text"><h6></h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p><a href="http://www.c3teachers.org/wp-content/uploads/2014/10/IDM_Assumptions_C3-Brief.pdf" target="_blank">Decades of research</a> show that “students actively construct knowledge rather than passively receive it” (Grant, Lee, Swan, “The Inquiry Design Model,” 4). Think of inquiry-based learning as a mission, rather than a manual. Students aren’t simply consuming information. They’re analyzing it, pondering it, and practicing the critical-thinking skills that will last them a lifetime.</p>
                <h4 class="tip"><strong>What You Can Do</strong></h4>
                <ul>
                    <li>Think like our old pal, Socrates. Rather than telling students they are right or wrong, and ending the conversation there, lead students’ understanding through follow-up questions, reflection, and further inquiry. Thinking critically is thinking deeply.</li>
                </ul>
                <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-68a02202-1cea-4790-995b-1f55f8f719bf"><span class="hs-cta-node hs-cta-68a02202-1cea-4790-995b-1f55f8f719bf" id="hs-cta-68a02202-1cea-4790-995b-1f55f8f719bf"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2442542/68a02202-1cea-4790-995b-1f55f8f719bf"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-68a02202-1cea-4790-995b-1f55f8f719bf" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2442542/68a02202-1cea-4790-995b-1f55f8f719bf.png"  alt="Download Socratic Discussion Resources >>"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2442542, '68a02202-1cea-4790-995b-1f55f8f719bf', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/inquiry-->

<div id="conclusion" class="waypoint chapter"> <!--Inquiry-->
    <div class="edge-to-edge captioned">
            <img id="" class="waypoint" src="img/transparent_1500.png" data-src="img/nm-students-4.jpg">
    <div class="caption-text"><h6></h6></div>
      <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b></p>
      <h2>Concluding Thoughts</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>There’s nothing like the exciting chatter of a classroom to signify a truly engaged crop of students. Whether it’s through helpful feedback, cross-curricular connections, peer engagement or a focus on inquiry, implementing a few research-based  strategies can make all the difference for your class.</p>
                <p>Above all, though, it’s essential that you establish connections with your students. Getting to know your class is the best part of teaching – and the most informative. By connecting with your students, you gain insights into their learning that allow you to effectively personalize instruction. This creates an environment where every student is challenged appropriately and truly engaged in their learning.</p>
                <p>There are endless ways to nurture happy, noisy classrooms. While one or two or all of these practices might make a difference in your classroom, don’t hesitate to try out new methods for engaging students or providing personalized instruction.</p>
                <p>Have an idea? Submit yours below to share with our community of teachers and administrators.</p>
                <div style="padding: 10px 20px 10px 20px; background-color: rgba(213,229,248,0.5); border-radius: 5px;">
                    <!--[if lte IE 8]>
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                      <![endif]-->
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        portalId: '2442542',
                        formId: '0d9085bc-020d-4cc8-a5c2-dd2ba99e7fee',
                        css: '',
                        sfdcCampaignId: '701f3000001Utm6AAC'
                      });
                    </script>
                </div>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/inquiry-->
<span id="listen" class="waypoint chapter">
<div id="audio-story">
    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="credits">
                        <h6>Project Credits</h6>
                        <p>Written and edited by Elizabeth Riley Boyer, Mallory Busch, Allison Rodriguez, and Kavita Venkatesh, Ph.D.</p>
                        <p>The code for this website was adapted with permission from NPR. It was built for the NPR story <em><a href="https://apps.npr.org/wolves/">Wolves at the Door</a></em>. The adapted code can be viewed on <a href="https://github.com/ThinkCERCA/wolves/">Github</a>.</p>
                        <p>This code was adapted for ThinkCERCA by Mallory Busch.</p>
                        <p>Sound mixing by Ryan Lammers</p>
						<p><em>Published January 6, 2018</em></p>
                    </div>
                </div><!--/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/audio-story -->
<!-- Ambient audio players should be heard and not seen. -->
<!-- Is this updating??-->
<div id="audio-ambient">
    <div id="pop-audio-ambient" class="jp-jplayer">
        <img id="jp_poster_1" style="width: 0px; height: 0px; display: none;">
        <audio id="jp_audio_1" preload="metadata" src="/audio/ambient.mp3"></audio>
    </div>
    <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block extra_foot_js %}
{% endblock %}
